<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWQ8odl9kxgv04wtjx2MSYhcwo1DoU4LI</string>
	<key>GCM_SENDER_ID</key>
	<string>642930496088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarBelanja.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tes-firebase-bf0c4</string>
	<key>STORAGE_BUCKET</key>
	<string>tes-firebase-bf0c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642930496088:ios:5e8b9988b541579c5cf02d</string>
	<key>DATABASE_URL</key>
	<string>https://tes-firebase-bf0c4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>